<!-- In home.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Ecommerce Website - HTML, CSS &amp; JavaScript (Home_Page)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="header">
    <div class="container">
      <div class="navbar">
        <nav>
          <ul id="MenuItems">
            <nav>
              <nav>
                <ul>
                </ul>
              </nav>                           
            </nav>            
          </ul>
        </nav>

      </div>
      <div class="row">
        <div class="col-2">
          <h1>
            Redefine Your Look <br />
            With Timeless Style!
          </h1>
          <p>
            Fashion is more than clothes — it's confidence. <br />
            Elevate your everyday with pieces that speak your vibe.
          </p>

          <a routerLink="/products" class="btn btn-primary" role="button" aria-label="Explore products">Explore Now →</a>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </div>

  <!-- Featured categories -->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <img src="https://cardinal.co.id/cdn/shop/files/HAIAR00150P-02H-1.jpg?v=1742868327" alt="" />
        </div>
        <div class="col-3">
          <img src="https://cardinal.co.id/cdn/shop/files/PAKAD00095J-06B-1.jpg?v=1742359335" alt="" />
        </div>
        <div class="col-3">
          <img src="https://cardinal.co.id/cdn/shop/files/GAKAO01052J-03B-1.jpg?v=1742359489" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Featured products -->
  <div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
      <div class="col-4">
        <a href="product_details.html"><img
            src="https://cardinal.co.id/cdn/shop/files/HAIAR00150P-02H-1.jpg?v=1742868327" alt="" /></a>
        <a href="product_details.html">
          <h4>CDL Navy T-shirt</h4>
        </a>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp150.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARC0672N-08A-1.jpg?v=1745203717" alt="" />
        <h4>White Koko Shirt with Embroidery</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp100.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAIAR02072P-01A-1.jpg?v=1742868272" alt="" />
        <h4>Cardinal Black T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp50.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARC0414P-01F-1.jpg?v=1742801220" alt="" />
        <h4>Grey Casual Shirt with Black Pocket</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp60.000</p>
      </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TBUBICA066K-04A-1.jpg?v=1740620954" alt="" />
        <h4>Grey Formal Pants</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp80.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAKAIC0832P-02H-1.jpg?v=1742451765" alt="" />
        <h4>Red-Black Plaid Short Sleeve Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp100.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARJ0041P-02H-1.jpg?v=1745203712" alt="" />
        <h4>Blue Short Sleeve Koko Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp90.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/JAHAR00035P-03E-1.jpg?v=1745203769" alt="" />
        <h4>Brown Short Sleeve Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp150.000</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAJARAL013_02H_1.jpg?v=1741936149" alt="" />
        <h4>Black Varsity Jacket</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp300.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EALARAL003J.11F-Red_1.jpg?v=1741936607" alt="" />
        <h4>Red-Black Plaid Long Sleeve Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp200.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/DAGABH0471D.08D-White_1.jpg?v=1745203815" alt="" />
        <h4>White Muslim Wear with Embroidery</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp500.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAKALAL002_02H_1.jpg?v=1741936148" alt="" />
        <h4>Navy Casual Shirt </h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp70.000</p>
      </div>
    </div>
  </div>
  <!-- offer -->
  <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="https://cardinal.co.id/cdn/shop/files/EARARAL006I.01D-Black_1.jpg?v=1741936600" alt=""
            class="offer-img" />
        </div>
        <div class="col-2">
          <p>Exclusively Available at TrendWear</p>
          <h1>Classic Rompi Jacket</h1>
          <small>
            The Classic Rompi Jacket combines timeless style with modern comfort.
            Crafted with premium fabric and tailored for a perfect fit — it's a must-have
            for every wardrobe.
          </small>
        </div>
        <br />
        <a href="/products" class="btn">Buy Now &#8594;</a>
      </div>
    </div>
  </div>

  <!-- Testimonial -->
  <div class="testimonial">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <i class="fas fa-quote-left"></i>
          <p>
            “This red t-shirt is 🔥! Super comfy, perfect fit, and the color pops. Got so many compliments wearing it!”
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <img src="https://cardinal.co.id/cdn/shop/files/EALARAL003J.11F-Red_1.jpg?v=1741936607" alt="" />
          <h3>Marta W.</h3>
        </div>

        <div class="col-3">
          <i class="fas fa-quote-left"></i>
          <p>
            The quality is amazing and the fit is just perfect! I've never felt so confident in a jacket before.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <img src="https://cardinal.co.id/cdn/shop/files/EAJARAL013_02H_1.jpg?v=1741936149" alt="" />
          <h3>Rula P.</h3>
        </div>

        <div class="col-3">
          <i class="fas fa-quote-left"></i>
          <p>
            Love the minimal packaging and premium feel. The jeans feel tailor-made.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <img src="https://cardinal.co.id/cdn/shop/files/JAHAR00035P-03E-1.jpg?v=1745203769" alt="" />
          <h3>Vika Z.</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- brands -->
  <div class="brands">
    <div class="small-container">
      <div class="row">
        <div class="col-5">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdSGVH9Gtt9vk2WsTOZSBkx6JlqlqSE1A5Nw&s" alt="" />
        </div>

        <div class="col-5">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZN6pUeePrI9cWtq_XbgMa-yui8FypoB9_8w&s" alt="" />
        </div>

        <div class="col-5">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYO1UcExa4g-TpUCTBtFAQam_4jShnsKDZ0Q&s" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download App for Android and iso mobile phone.</p>
          <div class="app-logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYO1UcExa4g-TpUCTBtFAQam_4jShnsKDZ0Q&s" alt="" />
          </div>
        </div>

        <!-- <div class="footer-col-2">
          <img src="https://i.ibb.co/j3FNGj7/logo-white.png" alt="" />
          <p>
            Our Purpose Is To Sustainably Make the Pleasure and Benefits of
            Sports Accessible to the Many.
          </p>
        </div> -->

        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>Blog Post</li>
            <li>Return Policy</li>
            <li>Join Affiliate</li>
          </ul>
        </div>

        <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>YouTube</li>
          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2025 - I AM Fashion Store</p>
    </div>
  </div>

  <router-outlet></router-outlet>

  <!-- js for toggle menu -->
  <script>
    var MenuItems = document.getElementById('MenuItems');
    MenuItems.style.maxHeight = '0px';

    function menutoggle() {
      if (MenuItems.style.maxHeight == '0px') {
        MenuItems.style.maxHeight = '200px';
      } else {
        MenuItems.style.maxHeight = '0px';
      }
    }
  </script>
  <!-- partial -->

</body>


</html>


