<head><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"></head>
<h1>PRODUCTS</h1>
<nav>
  <a routerLink="pria">Man</a>
  <a routerLink="wanita">Woman</a>
  <a routerLink="anak">Child</a>
</nav>
 <!-- Featured products -->
  <div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
      <div class="col-4">
        <a href="product_details.html"><img
            src="https://cardinal.co.id/cdn/shop/files/HAIAR00150P-02H-1.jpg?v=1742868327" alt="" /></a>
        <a href="product_details.html">
          <h4>CDL Navy T-shirt</h4>
        </a>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp150.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARC0672N-08A-1.jpg?v=1745203717" alt="" />
        <h4>White Koko Shirt with Embroidery</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp100.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAIAR02072P-01A-1.jpg?v=1742868272" alt="" />
        <h4>Cardinal Black T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp50.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARC0414P-01F-1.jpg?v=1742801220" alt="" />
        <h4>Grey Casual Shirt with Black Pocket</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp60.000</p>
      </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TBUBICA066K-04A-1.jpg?v=1740620954" alt="" />
        <h4>Grey Formal Pants</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp80.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAKAIC0832P-02H-1.jpg?v=1742451765" alt="" />
        <h4>Red Black Plaid Short Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp100.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/TAHARJ0041P-02H-1.jpg?v=1745203712" alt="" />
        <h4>Blue Koko Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp90.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/JAHAR00035P-03E-1.jpg?v=1745203769" alt="" />
        <h4>Brown Short Sleeve Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp150.000</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAJARAL013_02H_1.jpg?v=1741936149" alt="" />
        <h4>Black Jacket</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp500.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EALARAL003J.11F-Red_1.jpg?v=1741936607" alt="" />
        <h4>Red-Black Plaid Long Sleeve Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp200.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/DAGABH0471D.08D-White_1.jpg?v=1745203815" alt="" />
        <h4>White Muslim Wear with Embroidery</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>Rp500.000</p>
      </div>

      <div class="col-4">
        <img src="https://cardinal.co.id/cdn/shop/files/EAKALAL002_02H_1.jpg?v=1741936148" alt="" />
        <h4>Navy Casual Shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Rp70.000</p>
      </div>
    </div>
  </div>
  <!-- offer -->
  <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="https://cardinal.co.id/cdn/shop/files/EARARAL006I.01D-Black_1.jpg?v=1741936600" alt=""
            class="offer-img" />
        </div>
        <div class="col-2">
          <h1>Classic Rompi Jacket</h1>
          <small>
            The Classic Rompi Jacket combines timeless style with modern comfort.
            Crafted with premium fabric and tailored for a perfect fit it's a must-have
            for every wardrobe.
          </small>
        </div>
        <br />
        <a href="#" class="btn">Buy Now &#8594;</a>
      </div>
    </div>
  </div>

<!-- Ini akan menampilkan komponen anak sesuai link -->
